.footer-content {
  padding: 5rem 0;
  display: grid;
  grid-template-columns: 2fr 0.7fr 0.7fr 1.5fr;
  gap: 2rem;
}


.footer-logo {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1rem;
}

.footer-logo > svg {
  resize: none;
}

.footer-logo > h3 {
  font-size: var(--font-XXL);
}

.footer-logo > span {
  font-size: var(--font-XXL);
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.footer__list-title {
  font-size: var(--font-XL);
}

.footer__list-item {
  color: var(--text-color-description);
}

.footer__list-link {
  color: var(--text-color-description);
  transition: all 0.3s ease-in;
}

.footer__list-link:hover {
  background: var(--gradient-color);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.footer__list-link:active {
  transform: scale(0.9) translateY(0);
  transition: all 0.1s ease-in;
}

@media (max-width: 992px) {
  .footer-content {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 3rem;
  }

  .footer-logo > h3 {
    font-size: var(--font-XL);
  }

  .footer-logo > span {
    font-size: var(--font-XL);
  }
}
