:root {
  --background-color: #1B1B1B;
  --text-color-title: #fff;
  --text-color-description: #A8A8A8;
  --box-color:#fff;
  
  --gradient-color: linear-gradient(270deg, #FF005C -3.79%, #FF0808 102.1%);

  --font-M: 0.8em;
  --font-L: 1em;
  --font-XL: 1.25em;
  --font-XXL: 2em;
  --font-XXXL: 3em;
  --font-XXXXL: 5em;
  --font-XXXXXL: 7em;

  --text-gap: 24px;
}